#pomodoro-clock {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #272727;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

#break-session {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 350px;
}

#break {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#break-length {
  color: white;
}

#session {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

#session-length {
  color: white;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
}

.add-minus {
  background-color: white;
  border-style: solid;
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


#timer-container {
  height: 250px;
  width: 350px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#timer-label {
  color: white;
}

.far {
  background: radial-gradient(white 50%, transparent 50%)
}

#play-pause-restart {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}

#start-stop{
  background-color: white;
  width: 100%;
  border: 0px;
}

.start-button-wrapper {
  border-style: solid;
  margin-left: 2px;
  flex-grow: 9;
}

#reset {
  background-color: transparent;
  margin-bottom: -5px;
  border: 0px;
}

.reset-button-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.time-left {
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}
